html{
  background: #000000
}
body{
  color: #ffffff;
  width: 80%;
  margin-left:auto;
  margin-right:auto;
  border: 2px solid blue;
}
header{
  margin-bottom: 80px;
  background-color: #512C70;
}
#logo{
  float: left;
}
nav{
  margin-left: 400px;
  float: left;
}
nav ul li{
  text-decoration: none;
  display: inline;
  margin: 2px;
  float: left;
}
nav ul li a{
  font-size: 25px;
  margin: 0 10px;
  display: inline;
  text-decoration: none;
  color: white;
}
.slides{
  position: relative;
  text-align: center;
  background: url(" ../images/a.jpeg") no-repeat;
  width: 1053px;;
  height: 461px;
}
.bottom-right{
  position: absolute;
  bottom: 48px;
  right: 78px;
  background-color: #050505; /* black */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#second-heading{
text-align: center;
 margin-left: 40px;
  font-size: 28px;
}
#first-paragraph{
  margin-top: -25px;
  margin-left: 20px;
  padding: 5px;
  font-size: 25px;
}
.card{
  float: left;
  display: inline;
  padding: 5px;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 30px;
  background-color: #0B0015;
  width: 310px;
  height: 490px;
  box-shadow: 4px 4px 8px 0 rgba(256, 256, 256, 0.2), 0 6px 20px 0 rgba(256, 256, 256, 0.19);
  text-align: center;
}
.card img{
  width: 310px;
}
.card p{
  font-size: 20px;
}
.card-swim img{
  height: 205px;
}
.info{
  height: 40px;
  width: 80px;
  margin-left: -15px;
  padding-right: 0px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border: 2px solid #6400BE; /* Green */
}
.info:hover {
    background-color: #8401FA; /* Green */
    color: white;
}
.info2{
  margin-right: 30px;
  margin-left: 15px;
}
.card-wrapper{
  margin-bottom: 20px;
}
.highlight{
  font-size: 18px;
  margin: 20px;
  color: white;
}
#main-image{
    max-width: 300px;
    max-height: 300px;
}
